.portada-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .portada-img {
    width: 150px; /* Ancho fijo para la imagen */
    height: 220px; /* Alto fijo para la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen y corta lo que sobrepase el contenedor */
    border-radius: 10px; 
  }
  .left-column,
  .right-column {
    width: 45%;
  }
  .rating-column {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
  }
  .rating-column ion-icon {
    font-size: 30px;
    padding: 0 5px;
  }

  .button-container {
    display: flex;
    justify-content: center; 
    padding: 10px; 
  }
  
  .custom-button {
    --background: #dfaa64; 
    --color: #ffffff; 
    --border-radius: 12px; 
    --padding: 10px 20px; 
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    --background-activated: #bf8a45; 
  }
  
  .custom-card {
    background-color: #e4e7eb; 
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .small-textarea {
    height: 100px; 
  }
  
  .info-card {
    width: 95%; /* ancho*/
    background-color: #f2dcb3; 
    border-radius: 10px; 
    padding: 10px; 
  }
  
  .book-title {
    font-size: 16px; 
    font-weight: bold; 
    margin: 0;
  }
  
  .book-author,
  .book-genre,
  .book-pages {
    font-size: 14px;
    margin: 4px 0;
  }
  
  .sinopsislibro {
    ion-item {
      margin-top: 10px;
      --background: #e4e7eb;
      --color: #4a5568;
    }
  
    ion-select {
      --padding-start: 10px;
      --placeholder-color: #718096;
    }
  }

  .descripcion-libro-api{
    width: 95%; 
    background-color: #f2dcb3; 
    border-radius: 10px; 
    padding: 10px; 
}