<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Inisiar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-item>
      <ion-input
        label="Usuario"
        labelPlacement="floating"
        placeholder="Ingrese su usuario"
        [(ngModel)]="usuario"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Contraseña"
        labelPlacement="floating"
        type="password"
        placeholder="Ingrese su contraseña"
        [(ngModel)]="password"
      >
      </ion-input>
    </ion-item>

    <ion-button shape="round" class="btn-InSesion">Inisiar Sesion</ion-button>

    <ion-button
      shape="round"
      class="btn-InSesion"
      [routerLink]="['/registrarse']"
      >Registrarse</ion-button
    >
  </div>
</ion-content>
