<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 
  <h2 (click)="irTodosLosLibros(1)">Libros de Ficción</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let libro of librosFiccion">
        <ion-card (click)="irLibro(libro)">
          <img [src]="libro.portada">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Categoría: Libros de No Ficción -->
  <h2 (click)="irTodosLosLibros(2)">Libros No Ficción</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let libro of librosNoFiccion">
        <ion-card (click)="irLibro(libro)">
          <img [src]="libro.portada">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Categoría: Libros Juveniles -->
  <h2 (click)="irTodosLosLibros(3)">Libros Juveniles</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let libro of librosJuveniles">
        <ion-card (click)="irLibro(libro)">
          <img [src]="libro.portada">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h2 (click)="irTodosLosLibros(4)">Libros Académicos</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let libro of librosAcademicos">
        <ion-card (click)="irLibro(libro)">
          <img [src]="libro.portada">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h2 (click)="irTodosLosLibros(5)">Libros Especializados</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let libro of librosEspecializados">
        <ion-card (click)="irLibro(libro)">
          <img [src]="libro.portada">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h2 (click)="irTodosLosLibros(6)">Libros Comedia</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let libro of librosComedia">
        <ion-card (click)="irLibro(libro)">
          <img [src]="libro.portada">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h2 (click)="irTodosLosLibros(7)">Libros Terror</h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let libro of librosTerror">
        <ion-card (click)="irLibro(libro)">
          <img [src]="libro.portada">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>