.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px; /* Bordes redondeados del contenedor */
    background-color: #ffffff; /* Fondo blanco del contenedor */
    max-width: 500px; /* Ancho máximo del contenedor */
    margin: auto;
}

.img-perfil{
    height: 100px;
    width: 100px;
}

h1{
    color: #6D4C41;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    color: #6D4C41;    
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color: #6D4C41;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container2{
    display: flex;
    border-radius: 20px;}

.img-libros{
   
    object-fit: cover; 
    text-align: center;display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


//ESTOS CAMBIOS HAY EN EL DISEÑO
.row{
    justify-content: space-around;
    margin-bottom: 1rem;
}
.col{
    flex: 0 1 48%;
}