ion-card {
    margin: 10px;
  }
  
  ion-list {
    margin: 10px;
  }
  
  ion-item {
    cursor: pointer; /* Cambia el cursor al pasar sobre un usuario */
  }
  
  ion-button {
    margin-top: 20px; /* Espacio para el botón */
  }
  