.container {
    padding: 16px; 
  }
  
  .custom-card {
    background-color: #f2dcb3; 
    border-radius: 20px; 
    margin-bottom: 16px; 
  }
  
  ion-card {
    --box-shadow: none;
  }
  
  ion-textarea {
    min-height: 100px; 
  }
  