.container {
    padding: 16px;
  }
  
  ion-list {
    background-color: #f2dcb3;
    border-radius: 8px;
  }
  
  ion-item {
    --background: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  ion-button {
    margin-left: 10px;
  }
  